.bounce {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100px;
  animation: bounce 1s infinite;
  &.rounded-borders {
    border-radius: 40px !important;
  }
  &.LIGHT {
    background-color: unset;
  }
  &.DARK {
    background-color: rgb(225, 224, 224);
  }
  &.border-block {
    border-radius: 50px;
    border-width: medium;
    padding: 4px;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    &.LIGHT {
      border: 2px solid #c0bebe;
      box-shadow: 0px 1px 5px 2px #c0bebe;
    }
    &.DARK {
      border: 2px solid #f9a913;
      box-shadow: 0px 1px 12px 2px orange;
    }
  }
  .image {
    height: 90px !important;
    width: 90px !important;
    border-radius: 30px !important;
    .icon,
    svg {
      height: 90px !important;
      width: 90px !important;
      border-radius: 30px !important;
    }
  }
}

@keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

@media (max-width: 540px) {
  .bounce {
    width: 70px !important;
    height: 70px !important;
    .icon {
      display: contents !important;
      width: 70px !important;
      height: 70px !important;
      svg {
        width: 60px !important;
        height: 60px !important;
        border-radius: 20px !important;
      }
    }
  }
}
@media (max-width: 400px) {
  .bounce {
    width: 60px !important;
    height: 60px !important;
    .icon {
      display: contents !important;
      width: 60px !important;
      height: 60px !important;
      svg {
        width: 50px !important;
        height: 50px !important;
        border-radius: 20px !important;
      }
    }
  }
}
