.bounce {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 0;
  height: 100px;
  width: 100px;
  animation: bounce 1s infinite;
  &.border-block {
    border: 1px solid #c0bebe;
    border-radius: 50px;
    border-width: medium;
    padding: 4px;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
  .image {
    height: 90px;
    &.rounded-borders {
      border-radius: 30px;
    }
  }
}

@keyframes bounce {
  0% {
    bottom: 5px;
  }
  25%,
  75% {
    bottom: 15px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
