.back-card-container {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
  .card-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 1px solid orange;
    border-radius: 48px;
    background-color: white;
    z-index: 2;
    padding: 24px 24px;
    font-family: "Raleway", sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-arrow-color: rgba(255, 255, 255, 0);
    scrollbar-color: white rgba(221, 161, 51, 0.736);

    .close {
      position: relative;
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }

    .card-title {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
    }

    .card-subtitle {
      font-size: 32px;
      font-weight: 400;
    }

    .card-description {
      padding: 12px 12px;
      font-size: 24px;
      font-weight: 400;
      line-height: 150%;
    }

    .card-projects-container {
      .card-project-container {
        display: flex;
        flex-direction: row;
        padding: 8px;
        justify-content: space-between;
        width: 100%;
        border: 1px solid orange;
        border-radius: 12px;
        margin-bottom: 8px;
        .card-project-description-container {
          display: flex;
          flex-direction: column;
          flex: 1;
          justify-content: space-evenly;
          .title {
            font-size: 20px;
            font-weight: 600;
          }
          .description {
            font-size: 16px;
            font-weight: 400;
          }
          .topics {
            font-size: 14px;
            font-weight: 400;
          }
          .url {
            font-size: 14px;
            font-weight: 700;
            color: rgb(233, 190, 111);
            a {
              text-decoration: none;
              color: rgb(236, 182, 82);
            }
          }
        }
        .card-project-image {
          border-radius: 24px;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
  .overlay {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.545);
  }
}
