.hero-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vw;
  justify-content: start;
  align-items: center;

  .main-title {
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 600;
  }
  .sub-title {
    padding: 0px 10px;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  .codewars-badge {
    margin-top: 8px;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      opacity: 1;
      box-shadow: 10px 10px 5px -7px rgba(126, 77, 17, 0.75);
    }
  }
  .text {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  @media (max-width: 762px) {
    .main-title {
      font-size: 40px;
    }
    .sub-title {
      font-size: 20px;
    }
    .text {
      font-size: 12px;
    }
  }
  @media (max-width: 560px) {
    height: 70vw;
    justify-content: end;
  }
  @media (max-width: 440px) {
    .main-title {
      font-size: 30px;
    }
    .sub-title {
      font-size: 16px;
    }
    .text {
      font-size: 10px;
    }
  }
}
