.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-height: 60px;
  justify-content: space-between;
  z-index: 10 !important;

  .contact-section,
  .info_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  .contact-container,
  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 50px;
    background-color: rgba(255, 166, 0, 0.773);
    border-radius: 12px;
    width: 150px;
    height: 50px;
    &.right-side {
      left: unset;
      right: 50px;
      width: 180px;
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      list-style: none;
      padding-inline-start: 0px;
      a {
        height: 100%;
        width: 100%;
        display: flex;
      }
      .close-icon {
        cursor: pointer;
      }
    }
  }
  @media (max-width: 450px) {
    .contact-container,
    .info-container {
      z-index: 10 !important;
      flex-direction: column;
      height: auto;
      width: 40px;
      left: 6px !important;
      top: 50px !important;
      &.right-side {
        left: unset !important;
        right: 6px !important;
        width: 40px !important;
      }
      ul {
        flex-direction: column;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .contact-section,
    .info_section {
      width: 80px;
      height: 80px;
      .icon,
      svg {
        width: 50px !important;
        height: 50px !important;
      }
    }
    .contact-container,
    .info-container {
      width: auto !important;
      padding: 10px;
      left: 80px;
      &.right-side {
        left: unset !important;
        right: 80px;
        width: auto !important;
      }
      .icon,
      svg {
        width: 50px !important;
        height: 50px !important;
        margin-left: 5px;
      }
    }
  }
}
